.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 64px;
    background-color: rgb(246, 245, 247);
}

.header h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
    color: rgb(245, 95, 40);
}

.header img {
    border-radius: 50%;
}